// global styles
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    background-color: #f2f8ff
    // background-image: url(https://images.unsplash.com/photo-1593694671678-294033631854?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
}

a { cursor: pointer; }

.app-container {
    min-height: 320px;
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.text-blue {
    color: #184e70;
}

.text-gray {
    color: #b9cad4;
}

.round {
    border-radius: 3%;
    height: 100%;
}

.round-sm {
    border-radius: 1%;
}

.form-group {
    padding-bottom: 5%;
}

.card-body {
    height: 510px;
}

// .welcome {
//     background-image: url(https://images.unsplash.com/photo-1545303234-a34381f8b5cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=746&q=80);
//     background-position: center;
// }

.login-image {
    border-radius: 2%;
    opacity: 90%;
    width: 600px;
    height: 500px;
}

.register {
    background-image: url(https://images.unsplash.com/photo-1601288855733-568a84692378?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1820&q=80);
    background-size: cover;
    background-position: center;
    
    // background-repeat: no-repeat;
}

// .forgot-password {
//     background-image: url(https://images.unsplash.com/photo-1593694671678-294033631854?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
// }